.text-decorator-none {
    text-decoration: none;
}

.text-bold {
    font-weight: bold !important;
}

.imagem {
        background-image: url(https://assets-prd.ignimgs.com/2022/08/17/1-monkey-d-luffy-1660778366362.jpeg);
        background-repeat: no-repeat;
        width: 100vh; 
        min-height: 150vh; 
        background-size: cover; 
        background-position: center

}

.botao {
    font-weight: bold !important;
    background-color: #ff0000 !important; 
}