.imagemCadastro {
  background-image: url('https://assets-prd.ignimgs.com/2022/08/17/1-monkey-d-luffy-1660778366362.jpeg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}